/* The CSS for student.html / student-profile.html */
/* student.html ---------------------------------- */

/* /////////////////////______________________________ */
/* Class schedule */
.student-class-schedule-table{
    width: 100%;
    text-align: center;
}
.student-class-schedule-table th{
    padding: 2px;
    margin: 12px;
    width: max-content;
    background: #e9ecef;
}

/* <<<<<<<<<>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>><???????///////////------------------------------------------ */
/* student-profile.html */
.student-profile-profile-pic-wrapper{
    text-align: center;
    border: 2px solid gray;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
    width: fit-content;
    height: fit-content;
}
.student-profile-detail-table-title{
    color: gray;
}